{%extends 'base.html'%}

{%block 'conteudo'%}
DASHBOARD
{%if messages%}
    {%for message in messages%}
    <div class="alert {{message.tags}}">
        {{message}}
    </div>         
    {%endfor%}
{%endif%}
<h1>Ola {{user.username}}</h1>
<form action="{% url 'logout' %}">
<button type="submit" style="width: 300px;">deslogar</button>
</form>

<form action="{% url 'dashboard' %}" method="post" style="display:flex; flex-direction:column">
    {%csrf_token%}
    {%if messages%}
        {%for message in messages%}
        <div class="alert {{message.tags}}">
            {{message}}
        </div>         
        {%endfor%}
    {%endif%}
    <div class="formulario">
        <label>Nome</label>
        <input type="text" name="nome" >
    </div>
    <div class="formulario">
        <label>Telefone</label>
        <input type="text" name="telefone">
    </div>


</form>

{%endblock%}